.modify {
    height: 100px;
    width: 200px;
    border-radius: 5;
    background-color: aqua;
}
#finalsum {
    color: blue;
    height: fit-content;
    border-radius: 10%;
}

#subtr {
    color: red;
    height: fit-content;
    border-radius: 10%;
}

#divis {
    color: goldenrod;
    height: fit-content;
    border-radius: 10%;
}

#multi {
    color: firebrick;
    height: fit-content;
    border-radius: 10%;
}

.button1 {
    color: darkred;
    border-radius: 3;
    opacity: 1;

}

.inp {
    color:blueviolet;
    background-color: aquamarine;
    
}